@{
    ViewBag.Title = "תורמים";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">

  


    <table class="table-gray">
        <tr>
            <th>שם פרטי</th>
            <th>שם משפחה</th>
            <th>טלפון ניד</th>
            <th>עיר</th>
            <th>דוא"ל</th>
        </tr>
        @foreach (var item in ViewBag.list)
        {
            <tr>


                <td>@item.First_Name</td>
                <td>@item.Last_Name</td>
                <td>@item.Phone</td>
                <td>@item.City</td>
                <td>@item.Email</td>
                @*<td>@item.Id_Donor</td>*@
                <td class="td-links"><a href="@Url.Action("EditProfile", "CreateEditProfile", new { id = @item.Id_Donor })"> לפרטים ועריכה</a></td>
                <td><a href="@Url.Action("DonationsOfDonor", "DonationsOfDonor" , new {id = @item.Id_Donor})"> לצפיה בתרומות</a></td>


            </tr>
        }
    </table>
</div>

