@model Tuple<MeyadLeyaad1.Models.Donor, MeyadLeyaad1.Models.Contribution, MeyadLeyaad1.Models.Statuses>
@{
    ViewBag.Title = "SearchDonation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="page-wrapper">

    <div class="row">
        <!-- page header -->
        <div class="col-lg-12">
            <h1 class="page-header">חיפוש תרומה</h1>
        </div>
        <!--end page header -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- Form Elements -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button type="submit" class="btn btn-primary" style="float:left">שמור</button>
                    חיפוש תרומה
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form role="form">
                                <div class="form-group" style="width:20%">
                                    <div class="form-group" style="width:100%; display:block">
                                        <label>מייל של התורם</label>
                                        <br />
                                        @Html.TextBoxFor(model => model.Item2.Id_Donor)
                                    </div>

                                    <div class="form-group" style="width:100%; display:block">
                                        <label>עיר</label>
                                        <br />
                                        @Html.TextBoxFor(model => model.Item1.City)
                                    </div>

                                    <div class="form-group" style="width:20%">
                                        <label>סטטוס מוצר</label>
                                        @Html.DropDownListFor(model => model.Item3.Name, (SelectList)ViewBag.ExemploList)
                                    </div>


                                    <div class="form-group" style="width:20%">
                                        <label>קטגוריה</label>
                                        @Html.DropDownListFor(model => model.Item2.Category, (SelectList)ViewBag.ExemploList)
                                    </div>
                                    <div class="form-group" style="width:20%">
                                        <label>תת קטגוריה</label>
                                        <select class="form-control">
                                            <option>מקרר</option>
                                            <option>תנור</option>
                                            <option>מיבש</option>
                                        </select>
                                    </div>
                                    @*<div class="form-group" style="width:20%">
                <label>שנים בשימוש</label>
                <br />
                @Html.TextBoxFor(model => model.)
                @Html.ValidationMessageFor(model => model.First_Name)
            </div>*@


                                    <div class="form-group" style="width:20%">
                                        <label>מצב מוצר</label>
                                        @Html.DropDownListFor(model => model.Item2.Position, new SelectList(new[]{"חדש באריזה",
"כמו חדש", "משומש","דרוש תיקון או שיפוץ"})))
                                    </div>

                                    <br />
                                    <table>
                                        @foreach (var item in ViewBag.list)
                                        {
                                            <tr>


                                                <td>@item.Category</td>
                                                <td>@item.Sub_Category</td>
                                                <td>@item.Position</td>
                                                <td>@item.Description</td>
                                                <td>@item.Modified_Status_Date</td>
                                                <td><a href="@Url.Action("EditingDonation", "AddingDonation" , item)">לפרטים ועריכה</a></td>



                                            </tr>
                                        }
                                    </table>
                                    <div class="form-group" style="width:8%;height:80px;background-image:url();border:1px solid black; padding:2px 2px 4px 4px">

                                    </div>
                                    <br />

                                    <button type="submit" class="btn btn-primary" style="float: right; display: block">שמור</button>
                                    <button type="reset" class="btn btn-success" style="float:right; display:block">אפס שדות</button>
                                </div>
                            </form>
                       
                    </div>

                    </div>
                </div>
            </div>
            <!-- End Form Elements -->
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-lg-6">
            <!--Basic Tabs   -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Basic Tabs
                </div>
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#Index" data-toggle="tab">Index</a>
                        </li>
                        <li>
                            <a href="#profile" data-toggle="tab">Profile</a>
                        </li>
                        <li>
                            <a href="#messages" data-toggle="tab">Messages</a>
                        </li>
                        <li>
                            <a href="#settings" data-toggle="tab">Settings</a>
                        </li>
                    </ul>

                    
                </div>
            </div>
            <!--End Basic Tabs   -->
        </div>
    </div>
    <!--End Pill Tabs   -->
</div>

