
@{
    ViewBag.Title = "תרומות";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- end navbar top -->
<!-- navbar side -->
<!-- end navbar side -->
<!--  page-wrapper -->

<div id="page-wrapper" style="right:20px">


    <table class="table-gray">
        <tr>
            <th>קטגוריה</th>
            <th>תת קטגוריה</th>
            <th>סטטוס</th>
            <th>תמונה</th>


        </tr>
        @foreach (var item in ViewBag.displayDonation)
        {
            <tr>
                <td>@item.Category</td>
                <td>@item.SubCategory</td>
                <td>@item.StatusName</td>
                <td><img src="@(item.PictureURL)" /></td>
                @* <td><button id="btnSubmit" onclick="DoAction(@item.ID_Contribution , 1)">לפרטים ועריכה</button></td>*@
                @* <td><button id="btnSubmit" onclick="DoAction(@item.ID_Contribution , 2)"> למחיקה</button></td>*@
                <td class="td-links"><a href="@Url.Action("EditDonation", "CreateEditDonation", new { id = @item.ID_Contribution })"> לפרטים ועריכה</a></td>
                <td class="td-links"><a href="@Url.Action("DonorHomepage", "DonorHomepage", new { dd = @item.ID_Contribution })"> למחיקה</a></td>

            </tr>
        }
    </table>
    <a href="@Url.Action("CreateDonation", "CreateEditDonation" , new { id = @ViewBag.id})" class="btn btn-primary btn-block">הוספת תרומה </a>
</div>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">

        function DoAction(c, type) {
            var serviceURL = '';
            if (type == 1)
                serviceURL = '/AddingDonation/EditingDonation';
            else
                serviceURL = '/DonorHomePage/DeleteDonation';
            $.ajax({
                type: "POST",
                dataType: "Json",
                url: serviceURL,
                data: { dd: c },
                async: false,
                success: function (data) {
                    window.location = '@Url.Action("DonorHomePage", "DonorHomePage")';
                    if (data == null || data.data == null) {
                        ErrorMessage("", "err");
                    } else {
                        alert(result.Url);
                        user = data[Object.keys(data)[0]];
                        AddVereCode(user.ID);// anather Ajax call
                        SuccessMessage("Done", "Successfully", "Done");
                    }
                },
                error: function () {

                    alert(data);
                    ErrorMessage("", "error");
                }
            });


        }

</script>







