@model Tuple<MeyadLeyaad1.Models.Contribution, MeyadLeyaad1.Models.Picture>
@{
    ViewBag.Title = "AddingDonation";
    Layout = ViewBag.layout;
}




<div id="page-wrapper">
    <h1>הצעת תרומה</h1>

    <div class="row">
        <div class="form-template">
            <h1 class="header"> מילוי פרטי מוצר</h1>
            <!-- Form Elements -->
            <p>
                אנא הוסף תמונה/ות ברורות ללא כיסויים או חפץ שמסתיר
                <br />
                שים לב אל פניות עם תמונות נתייחס בעדיפות ראשונה וביתר יעילות ומהירות
            </p>
            @using (Html.BeginForm("AddingDonation", "AddingDonation", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <form role="form">

                    <div class="form-group" style="width:100%; display:none" id="email">
                        <label>מייל של התורם</label>
                        @Html.TextBoxFor(model => model.Item1.Id_Donor)
                    </div>


                    <div class="form-group">
                        <label>קטגוריה</label>
                         @Html.DropDownListFor(model => model.Item1.Category, new SelectList(new[]{"ריהוט",
                                    "מוצרי חשמל"}))
                    </div>
                    <div class="form-group">
                        <label>תת קטגוריה</label>
                        @Html.DropDownListFor(model => model.Item1.Sub_Category, new SelectList(new[]{"ארון",
                                    "ספה", "כסא","שולחן" , "מיטות", "ספריה","אחר"}))
                    </div>
                    <div class="form-group">
                        <label>שנים בשימוש</label>
                        <select>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>יותר</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label>מצב מוצר</label>
                        @Html.DropDownListFor(model => model.Item1.Position, new SelectList(new[]{"חדש באריזה",
                                    "כמו חדש", "משומש","דרוש תיקון או שיפוץ"}))
                    </div>

                    <div class="form-group" style="width:100%; display:block">
                        <label>תאור המוצר</label>
                        @Html.TextBoxFor(model => model.Item1.Description)
                    </div>
                    <script type="text/javascript">
                        function startRead(i, evt) {
                            var file = document.getElementById("file").files[0];
                            if (file) {
                                var tmppath = URL.createObjectURL(event.target.files[0]);
                                var img = document.getElementById("img" + i);//.url = tmppath;
                                img.setAttribute("src", tmppath);
                                //  getAsText(file);
                                // alert("Name: " + file.name + "\n" + "Last Modified Date :" + file.lastModifiedDate);
                            }
                        }
                    </script>
                    <div class="form-group">
                        <label>תמונה 1</label>
                        <input type="file" name="file1" onchange="startRead(1)" id="file" style="width:150px">
                    </div>

                    <img class="form-group" id="img1" src="" style="width: 8%; height: 80px; background-image: url(); border: 1px solid black; padding: 2px 2px 4px 4px" />

                    <div class="form-group">
                        <label>תמונה 2</label>
                        <input type="file" name="file2" onchange="startRead(2)" id="file" style="width:150px" />
                    </div>
                    <img class="form-group" id="img2" src="" style="width: 8%; height: 80px; background-image: url(); border: 1px solid black; padding: 2px 2px 4px 4px" />


                    <script type="text/javascript">
                        function show(elementId) {
                            document.getElementById(elementId).style.display = "block";
                        }
                    </script>


                    <button type="button" onclick="show('another_img');">הוסף תמונות</button>
                    <div id="another_img" style="display:none">

                        <div class="form-group">
                            <label>תמונה3</label>
                            <input type="file" name="file3" onchange="startRead(3)" id="file" style="width:150px">
                        </div>

                        <img class="form-group" id="img3" src="" style="width: 8%; height: 80px; background-image: url(); border: 1px solid black; padding: 2px 2px 4px 4px" />

                        <div class="form-group">
                            <label>תמונה 4</label>
                            <input type="file" name="file4" onchange="startRead(4)" id="file" style="width:150px" />
                        </div>
                        <img class="form-group" id="img4" src="" style="width: 8%; height: 80px; background-image: url(); border: 1px solid black; padding: 2px 2px 4px 4px" />

                    </div>
                    <p>
                        שים לב: העמותה שומרת לעצמה את הזכות
                        <br />
                        לא לקחת מוצר שאינו עומד בקריטריונים.
                    </p>
                    <div class="buttons_wrap">
                        <button type="submit">שמור</button>
                        <button type="reset">אפס שדות</button>
                    </div>

                </form>
            }
        </div>


    </div>
</div>


<script>
    $(document).ready(function () {
        var type = "@ViewBag.type";
        if (type == "secretary") {
            $("#email").show();
            $('#page-wrapper').addClass('sec');
        }


    });
</script>
